<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="~{layout/layout::head(pageTitle='登录')}"></head>

<body>
    <div th:replace="~{layout/layout::js}"></div>
    <header th:replace="~{layout/layout::header(pageName='login')}"> </header>
    <div class="container login-form-container ">
        <form th:action="@{/login}" method="post">
            <h2 class="text-center">登录</h2>
            <div class="form-group ">
                <label for="username" class="col-form-label">账号</label>
                <input type="text" class="form-control" id="username" name="username" maxlength="50" placeholder="请输入账号">

            </div>
            <div class="form-group ">
                <label for="password" class="col-form-label">密码</label>
                <input type="password" class="form-control" id="password" name="password" maxlength="30" placeholder="请输入密码">
            </div>
            <div class="form-group ">
                <input type="checkbox" name="remember-me"> 记住我
            </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg w-100">登录</button>
            </div>
            <div class=" " th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}">
                <p class="text-danger" >用户名或密码错误！</p>
            </div>
        </form>
    </div>
</body>

</html>